body {
  display: block;
  background-color: #ffffff;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #2b2921;
}

div {
  margin: 0;
  padding: 0;
}

h1 {
  color: #86edef;
  font-size: 4.209em;
  font-family: 'Spartan', sans-serif;
  text-shadow: 2px 2px 1px #000000;
}

h2 {
  color: #75cfd1;
  font-size: 3.157em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 526px) {
  h1 {
    font-size: 2.369em;
  }
  h2 {
    font-size: 1.777em;
  }
}

canvas {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

a img {
  border-style: solid;
  border-width: 2px;
  border-color: darkslategray;
  margin: 0 10px;
}

@media only screen and (max-width: 400px) {
  a img {
    max-width: 100px;
  }
}

video {
  padding: 5px;
}

.about-backdrop {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 5px;
  max-width: 70%;
}

.container {
  min-height: 100%;
}

.flow-container {
  margin: auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 414px) {
  .flow-container {
    padding: 0;
    flex-flow: column nowrap;
    justify-content: center;
  }
}

.hamburger-holder {
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  display: block;
  position: fixed;
  top: 10px;
  left: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.image-gallery {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.modal a {
  color: #93f981;
  text-decoration: none;
}

.portrait {
  border-style: solid;
  border-color: slategrey;
  border-radius: 100%;
  max-width: 200px;
  margin-bottom: 10px;
}

.subhead {
  letter-spacing: 4px;
}

.tagline {
  text-align: center;
  margin-bottom: 2%;
}

.text {
  font-size: 1.25rem;
  text-align: justify;
  max-width: 400px;
  margin-bottom: 20px;
}

.toGallery,
.toLanding {
  cursor: pointer;
  font-size: 3.157em;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.toGallery {
  background-color: rgba(255, 255, 255, 0.5);
  color: #75cfd1;
  border: none;
  border-radius: 8px;
  margin-top: 2%;
}

@media only screen and (max-width: 400px) {
  .toLanding {
    border: none;
  }
}

#hamburger {
  border: none;
  width: 40px;
  height: 40px;
}

#about-me {
  margin-top: 5%;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
}

#diagrams-target {
  display: none;
  justify-content: center;
}

#presentations-target {
  display: none;
  justify-content: center;
}

#gallery {
  display: none;
}

#landing {
  margin-top: 200px;
  position: relative;
}

@media only screen and (min-width: 1000px) {
  #landing {
    margin-top: 12%;
  }
}

#backCanvas {
  z-index: -2;
}

#foreCanvas {
  z-index: -1;
}

#bottom {
  display: block;
  z-index: 3;
  min-height: 388px;
  min-width: 388px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-image: url("../images/mint-ice-cream-cone400x400.png");
  background-repeat: no-repeat;
  background-position: center;
}

#overlay {
  padding: 0;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 5;
  overflow-x: auto;
}

@media only screen and (max-width: 414px) {
  #overlay {
    top: 2%;
    overflow-y: scroll;
  }
}

/******************************************************************************
* Modal menu
*******************************************************************************/
.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-width: 200px;
  min-height: 200px;
  background-color: #504a56;
  margin-left: 2%;
  margin-top: 5%;
  padding: 5%;
  border: 1px solid #888888;
  width: 20%;
}

.modal-content button {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.close {
  color: lightcyan;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
